html, body {
    margin: 0;
    background-color: #ECE8EF;
    color: #fff;
    font-family: 'Itim', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    background-image:url("images_folder/hero_image_filmarket1.jpg")
}

#hero_image{
    background-color:#508ca4;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)) url("images_folder/hero_image_filmarket1.jpg");
    background-position: "center";
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    height: 300px;

}